{% extends 'base.html.twig' %}

{% block title %}Создание профиля{% endblock %}

{% block body %}
    <h1>Создание профиля</h1>
    {{ include('profile/_form.html.twig', {button_label: 'Создать профиль'}) }}
{% endblock %}
