{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block stylesheets %}
    <style>
        .form-elem {
            margin: 5px;
        }
    </style>
{% endblock %}

{% block body %}

<div>
    <form method="post" action="{{ path('app_registration') }}">
        <div class="form-elem">
            <label for="_email">Введите адрес электронной почты:</label>
            <input id="_email" name="_email" type="email" required />
        </div>
        <div class="form-elem">
            <label for="_password">Введите пароль:</label>
            <input id="_password" name="_password" type="password" required />
        </div>
        <div class="form-elem">
            <input type="submit" value="Зарегистрироваться!"/>
        </div>
    </form>
</div>
{% endblock %}
