{% extends 'base.html.twig' %}

{% block title %}Редактирование поста{% endblock %}

{% block body %}
    <h1>Редактирование поста</h1>
    {{ include('post/_form.html.twig', {button_label: 'Сохранить изменения'}) }}
{% endblock %}
